name: coffee-bot

on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.4

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt

      - name: Download artifact
        uses: actions/github-script@v6
        continue-on-error: true
        env:
          WORKFLOW_FILENAME: coffee-bot.yml
          ARTIFACT_NAME: csv-artifacts
          ARTIFACT_FILENAME: csv-artifacts.zip
        with:
          script: |
            const script = require('./download-previous-artifact.js')
            await script({github, context, core})

      - name: Run the script
        if: always()
        run: |
          python script.py

      - name: Save CSV files
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: csv-artifacts
          path: |
            arabica_cherry_prices.csv
            arabica_parchment_prices.csv
            black_pepper_prices.csv
            robusta_cherry_prices.csv
            robusta_parchment_prices.csv
